@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* General site stylings */
body {
    background-color: darkolivegreen;
    height: 100vh;
}

.navbar {
    background-color: lightgray;
    z-index: 0;
}

table {
    border-radius: 5px;
}

h1, h2, h3, h4, ul {
    color: white;
}

a.navbar-brand>img {
    padding-right: 10px;
}

/* Log In Modal Styling */
#display-name-color-modal-form {
    display: none;
}

#email-password-modal-form {
    display: block;
}

.signed-in-only {
    display: none;
}

/* Search Results Styling */

.resultItem {
    padding: 5px 10px 5px 10px;
}

.resultItem:hover {
    background-color: darkolivegreen;
    color: white;
    border-radius: 5px;
}

.inputDropdown {
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    visibility: collapse;
    margin-top: 5px;
    z-index: 1;
    max-height: 100vh;
}

.row {
    margin: 0px 0px 10px 0px;
}

#data-source {
    margin: 10px 0px 10px 0px;
}

nav {
    margin-bottom: 10px;
}

/* Game Details */

#game-title, #game-designer {
    text-align: center;
    text-shadow: 0px 1px black;
}

img#game-image {
    border-radius: 5px;
    box-shadow: 0px 2px;
    background-color: white;
    cursor: pointer;
}

.game-detail-card {
    background-color: white;
    border-radius: 5px;
    color: darkolivegreen;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 2px black;
    text-align: end;
    width: 100%;
}

#remove-game-button {
    display: none;
}

/* Game List Styling */
span.game-owner {
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    width: auto;
    border: 1px solid black;
}

td.game-name, span.game-owner {
    cursor: pointer;
    min-width: none;
    vertical-align: middle;
}

#game-owners-card {
    justify-content: space-evenly;
    color: black;
    padding-bottom: 10px;
}

#game-owners-card>h2 {
    text-align: end;
    color: darkolivegreen;
}

/* User Profile Styling */
form#update-user-info-form, form#bulk-add-form {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

td.game-name {
    justify-content: space-between;
}

.form-control-color {
    width: 100%;
}

div#bulk-results {
    display: none;
}